bpel/NotificationBuilderRequest/xsd/eMayorNotificationBuilderRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:tns="http://www.emayor.org/eMayorNotificationBuilderRequest.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.emayor.org/eMayorNotificationBuilderRequest.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="eMayorNotificationBuilderRequestType">
		<xs:sequence>
			<xs:element name="subject" type="xs:string"/>
			<xs:element name="message" type="xs:string"/>
			<xs:element name="mapping" type="xs:string"/>
			<xs:element name="profile" type="xs:string"/>
			<xs:element name="qualifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
