bpel/ServiceTemplate_v10/BPEL-Project/ServiceTemplate_v10/services/ServiceCallbackManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://emayor.org/ServiceCallbackManager" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://emayor.org/ServiceCallbackManager" xmlns:intf="http://emayor.org/ServiceCallbackManager" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema targetNamespace="http://emayor.org/ServiceCallbackManager" xmlns="http://www.w3.org/2001/XMLSchema">
			<complexType name="ServiceCallbackProperty">
				<sequence>
					<element name="propertyName" nillable="true" type="xsd:string"/>
					<element name="propertyValue" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>

			<complexType name="ServiceCallbackData">
				<sequence>
					<element name="property1" nillable="true" type="impl:ServiceCallbackProperty"/>
					<element name="property2" nillable="true" type="impl:ServiceCallbackProperty"/>
					<element name="property3" nillable="true" type="impl:ServiceCallbackProperty"/>
					<element name="property4" nillable="true" type="impl:ServiceCallbackProperty"/>
					<element name="requestDocument" nillable="true" type="xsd:string"/>
					<element name="resultDocument" nillable="true" type="xsd:string"/>
					<element name="ssid" nillable="true" type="xsd:string"/>

					<element name="uid" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<element name="result" type="impl:ServiceCallbackData"/>
			<element name="onResultReturn" type="xsd:string"/>
		</schema>
  </wsdl:types>
  <wsdl:message name="onResultResponse">
    <wsdl:part element="impl:onResultReturn" name="onResultReturn"/>

  </wsdl:message>
  <wsdl:message name="onResultRequest">
    <wsdl:part element="impl:result" name="result"/>
  </wsdl:message>
  <wsdl:portType name="IServiceCallbackManager">
    <wsdl:operation name="onResult" parameterOrder="result">
      <wsdl:input message="impl:onResultRequest" name="onResultRequest"/>
      <wsdl:output message="impl:onResultResponse" name="onResultResponse"/>
    </wsdl:operation>

  </wsdl:portType>
  <wsdl:binding name="ServiceCallbackManagerSoapBinding" type="impl:IServiceCallbackManager">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="onResult">
      <wsdlsoap:operation/>
      <wsdl:input>
        <wsdlsoap:body namespace="http://emayor.org/ServiceCallbackManager" use="literal"/>
      </wsdl:input>
      <wsdl:output>

        <wsdlsoap:body namespace="http://emayor.org/ServiceCallbackManager" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IServiceCallbackManagerService">
    <wsdl:port binding="impl:ServiceCallbackManagerSoapBinding" name="ServiceCallbackManager">
      <wsdlsoap:address location="http://localhost:8080/eMayorEJB/ServiceCallbackManager"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>