bpel/RCRLocalProcessing_v10/RCRLocalProcessing_v10.wsdl

<?xml version="1.0"?>
<definitions xmlns:tns="http://emayor.org/RCRLocalProcessing_v10" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:request="http://www.emayor.org/eMayorServiceRequest.xsd" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://emayor.org/RCRLocalProcessing_v10" name="RCRLocalProcessing_v10">
	<types>
		<schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://emayor.org/RCRLocalProcessing_v10" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://www.emayor.org/eMayorServiceRequest.xsd" schemaLocation="xsd/eMayorServiceRequest.xsd"/>
			<element name="RCRLocalProcessing_v10Request" type="request:eMayorServiceRequestType"/>
			<element name="RCRLocalProcessing_v10Response" type="request:eMayorServiceRequestType"/>
		</schema>
	</types>
	<message name="RCRLocalProcessing_v10RequestMessage">
		<part name="payload" element="tns:RCRLocalProcessing_v10Request"/>
	</message>
	<message name="RCRLocalProcessing_v10ResponseMessage">
		<part name="payload" element="tns:RCRLocalProcessing_v10Response"/>
	</message>
	<portType name="RCRLocalProcessing_v10">
		<operation name="initiate">
			<input message="tns:RCRLocalProcessing_v10RequestMessage"/>
		</operation>
	</portType>
	<portType name="RCRLocalProcessing_v10Callback">
		<operation name="onResult">
			<input message="tns:RCRLocalProcessing_v10ResponseMessage"/>
		</operation>
	</portType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     TYPE DEFINITION - List of services participating in this BPEL process 
     The default output of the BPEL designer uses strings as input and 
     output to the BPEL Process. But you can define or import any XML 
     Schema type and us them as part of the message types.
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     MESSAGE TYPE DEFINITION - Definition of the message types used as 
     part of the port type defintions
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     PORT TYPE DEFINITION - A port type groups a set of operations into
     a logical service unit.
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- portType implemented by the RCRLocalProcessing_v10 BPEL process -->
	<!-- portType implemented by the requester of RCRLocalProcessing_v10 BPEL process 
         for asynchronous callback purposes
         -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     PARTNER LINK TYPE DEFINITION
         the RCRLocalProcessing_v10 partnerLinkType binds the provider and
         requester portType into an asynchronous conversation.
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<plnk:partnerLinkType name="RCRLocalProcessing_v10">
		<plnk:role name="RCRLocalProcessing_v10Provider">
			<plnk:portType name="tns:RCRLocalProcessing_v10"/>
		</plnk:role>
		<plnk:role name="RCRLocalProcessing_v10Requester">
			<plnk:portType name="tns:RCRLocalProcessing_v10Callback"/>
		</plnk:role>
	</plnk:partnerLinkType>
</definitions>
