bpel/ServiceTemplate_v10/BPEL-Project/ServiceTemplate_v10/ServiceTemplate_v10.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="${PROCESSNAME}" targetNamespace="${NAMESPACE}" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:client="${NAMESPACE}" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:request="http://www.emayor.org/eMayorServiceRequest.xsd">
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	TYPE DEFINITION - List of services participating in this BPEL process
	The default output of the BPEL designer uses strings as input and 
	output to the BPEL Process. But you can define or import any XML 
	Schema type and us them as part of the message types.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<types>
		<schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="${NAMESPACE}" xmlns="http://www.w3.org/2001/XMLSchema">
		<import namespace="http://www.emayor.org/eMayorServiceRequest.xsd" schemaLocation="xsd/eMayorServiceRequest.xsd"/>
			<element name="${PROCESSNAME}ProcessRequest">
				<complexType>
					<sequence>
						<element name="input" type="request:eMayorServiceRequestType"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	MESSAGE TYPE DEFINITION - Definition of the message types used as 
	part of the port type defintions
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<message name="${PROCESSNAME}RequestMessage">
		<part name="payload" element="client:${PROCESSNAME}ProcessRequest"/>
	</message>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	PORT TYPE DEFINITION - A port type groups a set of operations into
	a logical service unit.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- portType implemented by the ${PROCESSNAME} BPEL process -->
	<portType name="${PROCESSNAME}">
		<operation name="initiate">
			<input message="client:${PROCESSNAME}RequestMessage"/>
		</operation>
	</portType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	PARTNER LINK TYPE DEFINITION
	the ${PROCESSNAME} partnerLinkType binds the provider and
	requester portType into an asynchronous conversation.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<plnk:partnerLinkType name="${PROCESSNAME}">
		<plnk:role name="${PROCESSNAME}Provider">
			<plnk:portType name="client:${PROCESSNAME}"/>
		</plnk:role>
	</plnk:partnerLinkType>
</definitions>
