bpel/PolicyEnforcer_v10/BPELPolicyEnforcer-gen.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://kernel.servicehandling.emayor.org" xmlns:impl="http://kernel.servicehandling.emayor.org" xmlns:intf="http://kernel.servicehandling.emayor.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://kernel.servicehandling.emayor.org">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="BPELPolicyEnforcerException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="F_TimeStampXMLDocumentRequest">

      <wsdl:part name="in0" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="F_VerifyXMLSignatureResponse">

      <wsdl:part name="F_VerifyXMLSignatureReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="F_VerifyXMLTimeStampedDocumentResponse">

      <wsdl:part name="F_VerifyXMLTimeStampedDocumentReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="F_AuthorizeServiceStepResponse">

      <wsdl:part name="F_AuthorizeServiceStepReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="F_VerifyXMLSignatureRequest">

      <wsdl:part name="in0" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="F_VerifyXMLTimeStampedDocumentRequest">

      <wsdl:part name="in0" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="BPELPolicyEnforcerException">

      <wsdl:part name="fault" type="impl:BPELPolicyEnforcerException"/>

   </wsdl:message>

   <wsdl:message name="F_AuthorizeServiceStepRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:string"/>

      <wsdl:part name="in2" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="F_TimeStampXMLDocumentResponse">

      <wsdl:part name="F_TimeStampXMLDocumentReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="IBPELPolicyEnforcer">

      <wsdl:operation name="F_VerifyXMLSignature" parameterOrder="in0">

         <wsdl:input name="F_VerifyXMLSignatureRequest" message="impl:F_VerifyXMLSignatureRequest"/>

         <wsdl:output name="F_VerifyXMLSignatureResponse" message="impl:F_VerifyXMLSignatureResponse"/>

         <wsdl:fault name="BPELPolicyEnforcerException" message="impl:BPELPolicyEnforcerException"/>

      </wsdl:operation>

      <wsdl:operation name="F_TimeStampXMLDocument" parameterOrder="in0">

         <wsdl:input name="F_TimeStampXMLDocumentRequest" message="impl:F_TimeStampXMLDocumentRequest"/>

         <wsdl:output name="F_TimeStampXMLDocumentResponse" message="impl:F_TimeStampXMLDocumentResponse"/>

         <wsdl:fault name="BPELPolicyEnforcerException" message="impl:BPELPolicyEnforcerException"/>

      </wsdl:operation>

      <wsdl:operation name="F_VerifyXMLTimeStampedDocument" parameterOrder="in0">

         <wsdl:input name="F_VerifyXMLTimeStampedDocumentRequest" message="impl:F_VerifyXMLTimeStampedDocumentRequest"/>

         <wsdl:output name="F_VerifyXMLTimeStampedDocumentResponse" message="impl:F_VerifyXMLTimeStampedDocumentResponse"/>

         <wsdl:fault name="BPELPolicyEnforcerException" message="impl:BPELPolicyEnforcerException"/>

      </wsdl:operation>

      <wsdl:operation name="F_AuthorizeServiceStep" parameterOrder="in0 in1 in2">

         <wsdl:input name="F_AuthorizeServiceStepRequest" message="impl:F_AuthorizeServiceStepRequest"/>

         <wsdl:output name="F_AuthorizeServiceStepResponse" message="impl:F_AuthorizeServiceStepResponse"/>

         <wsdl:fault name="BPELPolicyEnforcerException" message="impl:BPELPolicyEnforcerException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="IBPELPolicyEnforcerSoapBinding" type="impl:IBPELPolicyEnforcer">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="F_VerifyXMLSignature">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="F_VerifyXMLSignatureRequest">

            <wsdlsoap:body use="literal" namespace="http://kernel.servicehandling.emayor.org"/>

         </wsdl:input>

         <wsdl:output name="F_VerifyXMLSignatureResponse">

            <wsdlsoap:body use="literal" namespace="http://kernel.servicehandling.emayor.org"/>

         </wsdl:output>

         <wsdl:fault name="BPELPolicyEnforcerException">

            <wsdlsoap:fault use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="F_TimeStampXMLDocument">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="F_TimeStampXMLDocumentRequest">

            <wsdlsoap:body use="literal" namespace="http://kernel.servicehandling.emayor.org"/>

         </wsdl:input>

         <wsdl:output name="F_TimeStampXMLDocumentResponse">

            <wsdlsoap:body use="literal" namespace="http://kernel.servicehandling.emayor.org"/>

         </wsdl:output>

         <wsdl:fault name="BPELPolicyEnforcerException">

            <wsdlsoap:fault use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="F_VerifyXMLTimeStampedDocument">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="F_VerifyXMLTimeStampedDocumentRequest">

            <wsdlsoap:body use="literal" namespace="http://kernel.servicehandling.emayor.org"/>

         </wsdl:input>

         <wsdl:output name="F_VerifyXMLTimeStampedDocumentResponse">

            <wsdlsoap:body use="literal" namespace="http://kernel.servicehandling.emayor.org"/>

         </wsdl:output>

         <wsdl:fault name="BPELPolicyEnforcerException">

            <wsdlsoap:fault use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="F_AuthorizeServiceStep">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="F_AuthorizeServiceStepRequest">

            <wsdlsoap:body use="literal" namespace="http://kernel.servicehandling.emayor.org"/>

         </wsdl:input>

         <wsdl:output name="F_AuthorizeServiceStepResponse">

            <wsdlsoap:body use="literal" namespace="http://kernel.servicehandling.emayor.org"/>

         </wsdl:output>

         <wsdl:fault name="BPELPolicyEnforcerException">

            <wsdlsoap:fault use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="IBPELPolicyEnforcerService">

      <wsdl:port name="IBPELPolicyEnforcer" binding="impl:IBPELPolicyEnforcerSoapBinding">

         <wsdlsoap:address location="http://localhost:8080/"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
