bpel/PolicyEnforcer_v10/PolicyEnforcer_v10.wsdl

<?xml version="1.0"?>
<definitions xmlns:tns="http://emayor.org/ResidenceCertifcationRequest_v10" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://emayor.org/ResidenceCertifcationRequest_v10" name="PolicyEnforcer_v10">
	<types>
		<schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://emayor.org/ResidenceCertifcationRequest_v10" xmlns="http://www.w3.org/2001/XMLSchema">
			<complexType name="ServiceStepType">
				<sequence>
					<element name="stepId" type="string"/>
				</sequence>
			</complexType>
			<element name="AuthorizeServiceStepStruct">
				<complexType>
					<sequence>
						<element name="userId" type="string"/>
						<element name="ssid" type="string"/>
						<element name="step" type="tns:ServiceStepType"/>
					</sequence>
				</complexType>
			</element>
      <element name="SignedXMLDocument">
				<complexType>
					<sequence>
						<element name="userId" type="string"/>
						<element name="ssid" type="string"/>
						<element name="xmlDocument" type="string"/>
					</sequence>
				</complexType>
			</element>
			<element name="Decision" type="boolean"/>
			<element name="TimeStampedXMLDocument" type="string"/>
			<element name="XMLDocument" type="string"/>
      <element name="NewUserProfileInput" type="string"/>
      <element name="NewUserProfileStatus" type="boolean"/>
		</schema>
	</types>
	<message name="SignedDocumentRequest">
		<part name="signedXmlDocument" element="tns:SignedXMLDocument"/>
	</message>
	<message name="DecisionResponse">
		<part name="decision" element="tns:Decision"/>
	</message>
	<message name="DocumentRequest">
		<part name="xmlDocument" element="tns:XMLDocument"/>
	</message>
	<message name="RoleResponse">
		<part name="role" element="tns:XMLDocument"/>
	</message>
	<message name="RoleRequest">
		<part name="xmlDocument" element="tns:XMLDocument"/>
	</message>
	<message name="TimeStampedDocumentResponse">
		<part name="xmlDocument" element="tns:TimeStampedXMLDocument"/>
	</message>
	<message name="AuthorizeServiceStepRequest">
		<part name="xmlDocument" element="tns:AuthorizeServiceStepStruct"/>
	</message>
  <message name="NewUserProfileDocumentResponse">
		<part name="status" element="tns:NewUserProfileStatus"/>
	</message>
	<message name="NewUserProfileServiceRequest">
		<part name="userProfile" element="tns:NewUserProfileInput"/>
	</message>
	<portType name="PolicyEnforcer_v10">
		<operation name="GetSignatureRole">
			<input message="tns:RoleRequest"/>
			<output message="tns:RoleResponse"/>
		</operation>
		<operation name="VerifyXMLSignature">
			<input message="tns:SignedDocumentRequest"/>
			<output message="tns:DecisionResponse"/>
		</operation>
		<operation name="TimeStampXMLDocument">
			<input message="tns:DocumentRequest"/>
			<output message="tns:TimeStampedDocumentResponse"/>
		</operation>
		<operation name="VerifyXMLTimeStampedDocument">
			<input message="tns:TimeStampedDocumentResponse"/>
			<output message="tns:DecisionResponse"/>
		</operation>
		<operation name="AuthorizeServiceStep">
			<input message="tns:AuthorizeServiceStepRequest"/>
			<output message="tns:DecisionResponse"/>
		</operation>
    <operation name="NewUserProfile">
			<input message="tns:NewUserProfileServiceRequest"/>
			<output message="tns:NewUserProfileDocumentResponse"/>
		</operation>
	</portType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     TYPE DEFINITION - List of types participating in this BPEL process 
     The BPEL Designer will generate default request and response types
     but you can define or import any XML Schema type and use them as part 
     of the message types.
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     MESSAGE TYPE DEFINITION - Definition of the message types used as 
     part of the port type defintions
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     PORT TYPE DEFINITION - A port type groups a set of operations into
     a logical service unit.
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- portType implemented by the PolicyEnforcer_v10 BPEL process -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     PARTNER LINK TYPE DEFINITION
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<plnk:partnerLinkType name="PolicyEnforcer_v10">
		<plnk:role name="PolicyEnforcer_v10Provider">
			<plnk:portType name="tns:PolicyEnforcer_v10"/>
		</plnk:role>
	</plnk:partnerLinkType>
</definitions>
