ServiceHandling/BPEL-forward/ForwardManagerBPEL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:impl="http://eMayor.org/sh/bpel/forward/service" xmlns:intf="http://eMayor.org/sh/bpel/forward/service" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing" xmlns:tns2="http://eMayor.org/sh/bpel/forward/data" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://eMayor.org/sh/bpel/forward/service">
	<wsdl:types>
		<schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://schemas.xmlsoap.org/ws/2003/03/addressing" schemaLocation="xsd/ws-addressing.xsd"/>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://eMayor.org/sh/bpel/forward/service">
			<import namespace="http://eMayor.org/sh/bpel/forward/data" schemaLocation="xsd/ForwardMessageBPEL.xsd"/>
			<element name="fRequest" type="tns2:ForwardMessageBPEL"/>
			<element name="fResponse" type="tns2:ForwardMessageBPEL"/>
		</schema>
	</wsdl:types>
	<message name="StartHeader">
		<part name="MessageID" element="wsa:MessageID"/>
		<part name="ReplyTo" element="wsa:ReplyTo"/>
	</message>
	<message name="ContinueHeader">
		<part name="RelatesTo" element="wsa:RelatesTo"/>
	</message>
	<wsdl:message name="forwardResponseRequest">
		<wsdl:part name="fResponse" element="impl:fResponse"/>
	</wsdl:message>
	<wsdl:message name="forwardRequestRequest">
		<wsdl:part name="fRequest" element="impl:fRequest"/>
	</wsdl:message>
	<wsdl:portType name="IForwardManagerBPEL">
		<wsdl:operation name="forwardRequest" parameterOrder="fRequest">
			<wsdl:input name="forwardRequestRequest" message="impl:forwardRequestRequest"/>
		</wsdl:operation>
		<wsdl:operation name="forwardResponse" parameterOrder="fResponse">
			<wsdl:input name="forwardResponseRequest" message="impl:forwardResponseRequest"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="IForwardManagerBPELCallback">
		<wsdl:operation name="onResult" parameterOrder="fResponse">
			<wsdl:input name="forwardResponseRequest" message="impl:forwardResponseRequest"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ForwardManagerBPELSoapBinding" type="impl:IForwardManagerBPEL">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="forwardRequest">
			<wsdlsoap:operation soapAction="forwardRequest" style="document"/>
			<wsdl:input>
				<wsdlsoap:header message="impl:StartHeader" part="MessageID" use="literal"/>
				<wsdlsoap:header message="impl:StartHeader" part="ReplyTo" use="literal"/>
				<wsdlsoap:body use="literal" namespace="http://eMayor.org/sh/bpel/forward/service"/>
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="forwardResponse">
			<wsdlsoap:operation soapAction="forwardResponse" style="document"/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ForwardManagerBPELCallbackSoapBinding" type="impl:IForwardManagerBPELCallback">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="onResult">
			<wsdlsoap:operation soapAction="onResult" style="document"/>
			<wsdl:input>
				<wsdlsoap:header message="impl:ContinueHeader" part="RelatesTo" use="literal"/>
				<wsdlsoap:body use="literal" namespace="http://eMayor.org/sh/bpel/forward/service"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="IForwardManagerBPELService">
		<wsdl:port name="ForwardManagerBPELPort" binding="impl:ForwardManagerBPELSoapBinding">
			<wsdlsoap:address location="http://localhost:8080/eMayor/ForwardManagerBPEL"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="IForwardManagerBPELCallbackService">
		<wsdl:port name="ForwardManagerBPELCallbackPort" binding="impl:ForwardManagerBPELCallbackSoapBinding">
			<wsdlsoap:address location="http://set.by.caller"/>
		</wsdl:port>
	</wsdl:service>
	<plnk:partnerLinkType name="IForwardManagerBPELService">
		<plnk:role name="IForwardManagerBPELServiceRequester">
			<plnk:portType name="impl:IForwardManagerBPELCallback"/>
		</plnk:role>
		<plnk:role name="IForwardManagerBPELServiceProvider">
			<plnk:portType name="impl:IForwardManagerBPEL"/>
		</plnk:role>
	</plnk:partnerLinkType>
</wsdl:definitions>
