ServiceHandling/BPEL-forward/client/ForwardManagerBPEL_client.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:impl="http://eMayor.org/sh/bpel/forward/service" xmlns:intf="http://eMayor.org/sh/bpel/forward/service" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://eMayor.org/sh/bpel/forward/data" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://eMayor.org/sh/bpel/forward/service">
	<wsdl:types>
		<schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://schemas.xmlsoap.org/ws/2003/03/addressing" schemaLocation="ws-addressing.xsd"/>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://eMayor.org/sh/bpel/forward/service">
			<import namespace="http://eMayor.org/sh/bpel/forward/data" schemaLocation="ForwardMessageBPEL.xsd"/>
			<element name="fOnResult" type="tns2:ForwardMessageBPEL"/>
		</schema>
	</wsdl:types>
	<message name="ContinueHeader">
		<part name="RelatesTo" element="wsa:RelatesTo"/>
	</message>
	<wsdl:message name="forwardResponseRequestMessage">
		<wsdl:part name="payload" element="impl:fOnResult"/>
	</wsdl:message>
	<wsdl:message name="forwardResponseResponseMessage">
	</wsdl:message>
	<wsdl:portType name="IForwardManagerBPELCallback">
		<wsdl:operation name="onResult" parameterOrder="payload">
			<wsdl:input name="onResultRequest" message="impl:forwardResponseRequestMessage"/>
			<wsdl:output name="onResultResponseResponse" message="impl:forwardResponseResponseMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ForwardManagerBPELCallbackSoapBinding" type="impl:IForwardManagerBPELCallback">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="onResult">
			<wsdlsoap:operation soapAction="onResult" style="document"/>
			<wsdl:input>
				<wsdlsoap:header message="impl:ContinueHeader" part="RelatesTo" use="literal" encodingStyle=""/>
				<wsdlsoap:body use="literal" namespace="http://eMayor.org/sh/bpel/forward/service"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal" namespace="http://eMayor.org/sh/bpel/forward/service"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="IForwardManagerBPELCallbackService">
		<wsdl:port name="ForwardManagerBPELCallbackPort" binding="impl:ForwardManagerBPELCallbackSoapBinding">
			<wsdlsoap:address location="http://localhost:80/eMayor/ForwardManagerBPELCallback"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
