ServiceHandling/wsdl/WorklistManager.wsdl

<definitions
     name="WorklistManager"
     targetNamespace="http://services.oracle.com/bpel/task"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://services.oracle.com/bpel/task"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <types>
        <schema blockDefault="#all" elementFormDefault="qualified" targetNamespace="http://services.oracle.com/bpel/task"
             xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="task">
                <complexType>
                    <sequence>
                        <element minOccurs="0" name="taskId" type="string"/>
                        <element minOccurs="0" name="title" type="string"/>
                        <element minOccurs="0" name="creationDate" type="dateTime"/>

                        <element minOccurs="0" name="creator" type="string"/>
                        <element minOccurs="0" name="modifyDate" type="dateTime"/>
                        <element minOccurs="0" name="modifier" type="string"/>
                        <element minOccurs="0" name="assignee" type="string"/>
                        <element minOccurs="0" name="status">
                            <simpleType>
                                <restriction base="string">
                                    <enumeration value="active"/>
                                    <enumeration value="completed"/>

                                </restriction>
                            </simpleType>
                        </element>
                        <element minOccurs="0" name="expired" type="boolean"/>
                        <element minOccurs="0" name="expirationDate" type="dateTime"/>
                        <element minOccurs="0" name="duration" type="duration"/>
                        <element minOccurs="0" name="priority" type="int"/>
                        <element minOccurs="0" name="template" type="string"/>
                        <element minOccurs="0" name="customKey" type="string"/>

                        <element minOccurs="0" name="conclusion" type="string"/>
                        <element name="attachment" type="anyType"/>
                    </sequence>
                </complexType>
            </element>
            <element name="tasklist">
                <complexType>
                    <sequence>
                        <element maxOccurs="unbounded" ref="tns:task"/>

                    </sequence>
                </complexType>
            </element>
            <element name="taskId" type="string"/>
            <element name="whereCondition">
                <complexType>
                    <sequence>
                        <element minOccurs="0" name="title" type="string"/>
                        <element minOccurs="0" name="creator" type="string"/>

                        <element minOccurs="0" name="modifier" type="string"/>
                        <element minOccurs="0" name="assignee" type="string"/>
                        <element minOccurs="0" name="status">
                            <simpleType>
                                <restriction base="string">
                                    <enumeration value="active"/>
                                    <enumeration value="completed"/>
                                </restriction>
                            </simpleType>

                        </element>
                        <element minOccurs="0" name="priority" type="int"/>
                        <element minOccurs="0" name="customKey" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>
    <message name="listTasksRequestMessage">

        <part name="payload" element="tns:whereCondition"/>
    </message>
    <message name="taskResponseMessage"/>
    <message name="lookupTaskResponseMessage">
        <part name="payload" element="tns:task"/>
    </message>
    <message name="lookupTaskRequestMessage">
        <part name="payload" element="tns:taskId"/>
    </message>

    <message name="taskRequestMessage">
        <part name="payload" element="tns:task"/>
    </message>
    <message name="listTasksResponseMessage">
        <part name="payload" element="tns:tasklist"/>
    </message>
    <portType name="WorklistManager">
        <operation name="initiateTask">
            <input message="tns:taskRequestMessage"/>

            <output message="tns:taskResponseMessage"/>
        </operation>
        <operation name="updateTask">
            <input message="tns:taskRequestMessage"/>
            <output message="tns:taskResponseMessage"/>
        </operation>
        <operation name="completeTask">
            <input message="tns:taskRequestMessage"/>
            <output message="tns:taskResponseMessage"/>

        </operation>
        <operation name="lookupTask">
            <input message="tns:lookupTaskRequestMessage"/>
            <output message="tns:lookupTaskResponseMessage"/>
        </operation>
        <operation name="listTasks">
            <input message="tns:listTasksRequestMessage"/>
            <output message="tns:listTasksResponseMessage"/>
        </operation>

    </portType>
    <binding name="WorklistManagerBinding" type="tns:WorklistManager">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="initiateTask">
            <soap:operation style="document" soapAction="initiateTask"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>

                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateTask">
            <soap:operation style="document" soapAction="updateTask"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>

                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="completeTask">
            <soap:operation style="document" soapAction="completeTask"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>

                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="lookupTask">
            <soap:operation style="document" soapAction="lookupTask"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>

                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="listTasks">
            <soap:operation style="document" soapAction="listTasks"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>

                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="WorklistManager">
        <port name="WorklistManagerPort" binding="tns:WorklistManagerBinding">
            <soap:address location="http://localhost:9700/orabpel/default/WorklistManager/1.0"/>
        </port>
    </service>

  <plnk:partnerLinkType name="WorklistManager">
    <plnk:role name="WorklistManagerProvider">
      <plnk:portType name="tns:WorklistManager"/>
    </plnk:role>
  </plnk:partnerLinkType>
</definitions>
