ServiceHandling/BPEL-forward/server/ForwardManagerBPEL_server.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:impl="http://eMayor.org/sh/bpel/forward/service" xmlns:intf="http://eMayor.org/sh/bpel/forward/service" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://eMayor.org/sh/bpel/forward/data" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://eMayor.org/sh/bpel/forward/service">
	<wsdl:types>
		<schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://schemas.xmlsoap.org/ws/2003/03/addressing" schemaLocation="ws-addressing.xsd"/>
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://eMayor.org/sh/bpel/forward/service">
			<import namespace="http://eMayor.org/sh/bpel/forward/data" schemaLocation="ForwardMessageBPEL.xsd"/>
			<element name="fRequest" type="tns2:ForwardMessageBPEL"/>
			<element name="fResponse" type="tns2:ForwardMessageBPEL"/>
		</schema>
	</wsdl:types>
	<message name="StartHeader">
		<part name="MessageID" element="wsa:MessageID"/>
		<part name="ReplyTo" element="wsa:ReplyTo"/>
	</message>
	<wsdl:message name="forwardResponseRequestMessage">
		<wsdl:part name="payload" element="impl:fResponse"/>
	</wsdl:message>
	<wsdl:message name="forwardRequestRequestMessage">
		<wsdl:part name="payload" element="impl:fRequest"/>
	</wsdl:message>
	<wsdl:message name="forwardResponseResponseMessage">
   </wsdl:message>
	<wsdl:message name="forwardRequestResponseMessage">
   </wsdl:message>
	<wsdl:portType name="IForwardManagerBPEL">
		<wsdl:operation name="forwardRequest" parameterOrder="payload">
			<wsdl:input name="forwardRequestRequest" message="impl:forwardRequestRequestMessage"/>
			<wsdl:output name="forwardRequestResponse" message="impl:forwardRequestResponseMessage"/>
		</wsdl:operation>
		<wsdl:operation name="forwardResponse" parameterOrder="payload">
			<wsdl:input name="forwardResponseRequest" message="impl:forwardResponseRequestMessage"/>
			<wsdl:output name="forwardResponseResponse" message="impl:forwardResponseResponseMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ForwardManagerBPELSoapBinding" type="impl:IForwardManagerBPEL">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="forwardRequest">
			<wsdlsoap:operation soapAction="forwardRequest" style="document"/>
			<wsdl:input>
				<wsdlsoap:header message="impl:StartHeader" part="MessageID" use="literal"/>
				<wsdlsoap:header message="impl:StartHeader" part="ReplyTo" use="literal"/>
				<wsdlsoap:body use="literal" namespace="http://eMayor.org/sh/bpel/forward/service"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal" namespace="http://eMayor.org/sh/bpel/forward/service"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="forwardResponse">
			<wsdlsoap:operation soapAction="forwardResponse" style="document"/>
			<wsdl:input>
				<wsdlsoap:header message="impl:StartHeader" part="MessageID" use="literal"/>
				<wsdlsoap:header message="impl:StartHeader" part="ReplyTo" use="literal"/>
				<wsdlsoap:body use="literal" namespace="http://eMayor.org/sh/bpel/forward/service"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal" namespace="http://eMayor.org/sh/bpel/forward/service"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="IForwardManagerBPELService">
		<wsdl:port name="ForwardManagerBPELPort" binding="impl:ForwardManagerBPELSoapBinding">
			<wsdlsoap:address location="http://localhost:80/eMayor/ForwardManagerBPEL"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
